<%- include('header')%>

<h2>Admin:</h2>
<div>
    <ul>
        <li><a href="/admin/categories">Manage Categories</a></li>
        <li><a href="/admin/roles">Manage Roles</a></li>
    </ul>
</div>

<%- include('footer')%>




